.circle {
  position: absolute; 
  margin-top: -600px;
  margin-left: 905.89px;
  width: 379px;
  height: 379px;
  border-radius: 100%;
  background: linear-gradient(
    60deg,
    rgba(47, 198, 246, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
  filter: blur(8px);
  z-index: 4;
}