.circle {
  position: absolute;
  transform: rotate(59.37deg);
  width: 379px;
  height: 379px;
  border-radius: 100%;
  background: linear-gradient(
    60deg,
    rgba(47, 198, 246, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
  filter: blur(8px);
  z-index: 4;
}

.circle1 {
  margin-top: -135px;
  margin-left: 900px;
}

.circle2 {
  top: 258.56px;
  left: 554.51px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(18.15deg);
}
