.registratioin__item_form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 434px;
  height: 89px;
}

.registratioin__item_form_input {
  width: 178px;
  height: 20px;
  border: none;
  padding: 10px 16px 10px 16px;
  border-radius: 4px;
  background: #f0f0f0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.registratioin__item_form_button {
  width: 154px;
  height: 40px;
  padding: 8px 36px 8px 36px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  background: #1672ec;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.registratioin__item_form_input_email {
  width: 402px;
  height: 20px;
  border: none;
  padding: 10px 16px 10px 16px;
  border-radius: 4px;
  background: #f0f0f0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 30px;
}