@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts//Gilroy-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Light.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.system_overview_section {
  margin: 55px auto;
  width: 1186px;
  height: 547px;
  margin-bottom: 100px;
  position: relative;
}

.system_hero_block__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
  color: #ffffff;
}

.system_hero_block__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 40px;
}

.features_section__description {
  width: 422px;
  height: 366px;
}

.features_section__description hr {
  border: 1px solid rgba(255, 255, 255, 0.3)
}

.features_section__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin: 15px 0;
}

.features_section__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}

.features_section__image {
  margin-top: -366px;
  margin-left: 583px;
}

.task {
  color: #ffffff;
}