@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  font-family: 'Mulish';
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 1440px;
  height: auto;
}

.container-block {
  width: 1296px;
  height: auto;
  background: #005893;
  padding: 0px 0 60px 0;
  position: relative;
}





