* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 1440px;
  height: auto;
}

.container-block {
  width: 1296px;
  height: auto;
  background: #005893;
  padding: 0px 0 60px 0;
  position: relative;
}
.header {
  width: 1188px;
  height: 480px;
  margin: 55px auto 95px;
}

.logo {
  width: 194px;
  height: 34.5px;
  margin-bottom: 60px;
}

.media-block {
  width: 1186px;
  height: 385px;
  position: relative;
}

.textButtonBox {
  position: absolute;
  margin-top: 40px;
  width: 530px;
  height: 305px;
  color: #ffffff;
}
.presents-text {
  font-family: Gilroy;
  width: 355px;
  height: 132px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 20px;
  text-align: left;
}
.media-block__text p {
  width: 580px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 50px;
}

.price-img {
  position: absolute;
  width: 652px;
  height: 385px;
  margin-left: 546px;
}

.button-order {
  width: 219px;
  height: 56px;
  background: #1672ec;
  border: none;
  border-radius: 4px;
  padding: 16px 48px 16px 48px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
/* ----------------------- */

.system-overview-section {
  margin: 55px auto;
  width: 1186px;
  height: 547px;
  margin-bottom: 100px;
}

.system-hero-block__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.system-hero-block__description {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.features-section__description {
  width: 422px;
  height: 366px;
}

.features-section__description hr {
  border: 1px solid #ffffff4d;
}

.features-section__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  margin: 15px 0;
}

.features-section__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}

.features-section__image {
  margin-top: -366px;
  margin-left: 583px;
}

/* ------------------------- */

.target-audience {
  width: 1186px;
  height: 518px;
  margin: 55px auto 105px auto;
  text-align: center;
}

.target-audience__items {
  display: flex;
  justify-content: space-between;
  width: 1186px;
  height: 442px;
}

.target-audience__item {
  background: linear-gradient(
    156.02deg,
    rgba(255, 255, 255, 0.25) -5.03%,
    rgba(255, 255, 255, 0.1) 97.77%
  );
  border-radius: 18px;
  width: 354px;
  height: 442px;
}

.target-audience__cap {
  width: 292px;
  height: 233px;
  margin: 0 auto;
}

.target-audience__cap hr {
  margin: 21px 0 30px 0;
}
.target-audience__cap p {
  margin-bottom: 9px;
}

.target-audience__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  margin: 30px 0 5px 0px;
}

.target-audience__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.target-audience__block-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.info-block {
  text-align: left;
  margin-bottom: 24px;
}

.info-block__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.info-block__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.info-block ul {
  margin-left: 20px;
}

/* ----------------------- */

.opportunities-block {
  border-radius: 12px;
  position: relative;
  background: #fbfbfb;
  width: 1186px;
  height: 442px;
  margin: 0 auto;
  margin-bottom: 72px;
  z-index: 1;
}

.opportunities-block__item1 {
  position: absolute;
  width: 434px;
  height: 311px;
  margin-top: 66px;
  margin-left: 83px;
  gap: 30px;
}

.opportunities-block__item1-header-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin-bottom: 10px;
}

.opportunities-block__item1-header-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #1919195c;
  margin-bottom: 30px;
}

.registratioin__item-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 434px;
  height: 89px;
}

.registratioin__item-form-input {
  width: 178px;
  height: 20px;
  border: none;
  padding: 10px 16px 10px 16px;
  border-radius: 4px;
  background: #f0f0f0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.registratioin__item-form-button {
  width: 154px;
  height: 40px;
  padding: 8px 36px 8px 36px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  background: #1672ec;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.registratioin__item-form-input-email {
  width: 402px;
  height: 20px;
  border: none;
  padding: 10px 16px 10px 16px;
  border-radius: 4px;
  background: #f0f0f0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 30px;
}

.opportunities-block__item2-image {
  position: absolute;
  width: 611px;
  height: 305.5px;
  margin-top: 68px;
  margin-left: 533px;
  z-index: 2;
}


/* ---------------------------------- */
.dropdown-block {
  background: rgb(64, 129, 174);
  background: linear-gradient(
    90deg,
    rgba(64, 129, 174, 1) 0%,
    rgba(29, 107, 159, 1) 100%
  );
  width: 1186px;
  max-height: 433px;
  margin: 20px auto;
  padding: 19px 0 15px 0;
  border-radius: 12px;
}

.dropdown-block__elem {
  display: flex;
  justify-content: space-between;
  width: 1091px;
  height: 28px;
  margin: 0px 50px 0px 40px;
}

.dropdown-block__menu {
  width: 1022px;
  height: 320px;
  margin: 35px 0 30px 40px;
}

.dropdown-block__block-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}

.dropdown-block__title {
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.dropdown-block__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}
/* ---------------------- */


/* ---------------------- */


.dropdown-block__button {
  border: none;
  width: 24px;
  height: 24px;
  padding: 4.7px 2.8px 7.1px 2.8px;
  background: rgba(29, 107, 159, 1) 100%;
}


/* ------------------------------- */
