.svetch {
  position: absolute;
  width: 700px;
  height: 550px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff3a 80%,
    #fff 0%,
    rgba(255, 255, 255, 0.075) 1%
  );
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.247);
  filter: blur(80px);
  z-index: -1;
}
