@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Light.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.benefits_block {
  width: 1186px;
  height: 165px;
  margin: 0 auto;
}

.reason_text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 35px;
  color: #ffffff;
}

.benefits_items {
  display: flex;
  width: 1186px;
  height: 100px;
  border-radius: 15px;
  background: linear-gradient(91.22deg, rgba(255, 255, 255, 0.25) 38.73%, rgba(255, 255, 255, 0.095) 77.51%);
}
.left {
  border-radius: 15px 0 0 15px;
}
.right {
  border-radius: 0 15px 15px 0;
}

.benefits_items__item {
  display: flex;
  width: 296px;
  align-items: center;
  background: #ffffff00;
  color: #ffffff;
  transition: 0.6s;
}

.benefits_items__item p {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}
