@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts//Gilroy-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Light.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.dropdown_block {
  background: rgb(64, 129, 174);
  background: linear-gradient(
    90deg,
    rgba(64, 129, 174, 1) 0%,
    rgba(29, 107, 159, 1) 100%
  );
  width: 1186px;
  max-height: 453px;
  margin: 20px auto;
  padding: 19px 0 15px 0;
  border-radius: 12px;
  cursor: pointer;
}

.dropdown_block__elem {
  display: flex;
  justify-content: space-between;
  width: 1091px;
  height: 28px;
  margin: 0px 50px 0px 40px;
}

.dropdown_block__menu {
  width: 1022px;
  height: 320px;
  margin: 35px 0 30px 40px;
}

.dropdown_block__block_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}

.dropdown_block__title {
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.dropdown_block__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}

.dropdown_block__button {
  border: none;
  width: 24px;
  height: 24px;
  padding: 4.7px 2.8px 7.1px 2.8px;
  fill: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}


.dropdown_block__button:hover {
  fill: rgba(255, 255, 255, 0.8);
}
